
<div>
  <div nz-row nzJustify="end">
    <div nz-col>
      <button nz-button nzType="primary"  nzShape="round" (click)="downloadExcelResults2()">
        <span nz-icon nzType="file-excel" nzTheme="outline"></span> Descargar
      </button>
    </div>
  </div>
  <div style="background: #ECECEC;padding:30px;">
    <nz-table #basicTable [nzData]="establishments"
        [nzPageSize]="50">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Empresa</th>
          <th>Tipo</th>
          <th>Calificación</th>

          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.code }}</td>

          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.company ?? '' }}</td>
          <td>{{ data.establishment_type ? data.establishment_type.name: '' }}</td>
          <td>{{ data.results.length>0?data.results[0]['score']:'N/A' }}</td>
          <td *ngIf="data.results.length>0">
            <a (click)="showEstablishment(data.id)" style="margin-right: 10px;"><span nz-icon nzType="eye" nzTheme="outline"></span></a>
            <a (click)="downloadPdf(data.id)"><span nz-icon nzType="cloud-download" nzTheme="outline"></span></a>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>

