<div class="header">
  <div class="logo logo-dark">
    <a href="">
      <img src="assets/images/logo/logo_gob1.png" width="200" height="80" alt="Logo">
    </a>
  </div>
  <div class="logo logo-white">
    <a href="">
      <img src="assets/images/logo/logo_gob1.png" width="200" height="80" alt="Logo">
    </a>
  </div>
  <div class="nav-wrap">
    <ul class="nav-left">
      <li class="desktop-toggle">
        <a (click)="toggleFold()">
          <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
        </a>
      </li>
      <li class="mobile-toggle">
        <a (click)="toggleExpand()">
          <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
        </a>
      </li>

    </ul>
    <ul class="nav-right">
      <li *ngIf="isTranslated==true">
        <label nz-radio-button nzValue="small" (click)="useLanguage('es')">Es</label>
      </li>
      <li *ngIf="isTranslated==false">
        <label nz-radio-button nzValue="small" (click)="useLanguage('en')">En</label>
      </li>

      <li>
        <span class="p-h-10 pointer" nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <a  [routerLink]="['mintur','formulario']">
            <span nz-icon nzType="database" nzTheme="outline"></span>
          </a>
        </span>

      </li>

    </ul>
  </div>
</div>
