<nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzFlex="1">
        <img class="img-fluid" alt="logo_min_tur" src="assets/images/logo/logo-min.png">
      </div>
      <div nz-col nzFlex="4">
        <h1 class="w-90 m-h-auto" *ngIf="formDisplay" style="font-size: 20px">
          {{formDisplay.name}}
        </h1>
        <p *ngIf="formDisplay" class="w-90 m-h-auto m-b-30">
          {{formDisplay.description}}
        </p>
      </div>
      <div nz-col nzFlex="1" *ngIf="establishment">
        <nz-progress nzType="circle" nzPercent="{{percentage}}"
          [nzStrokeColor]="{ '0%': '#108ee9', '50%': '#2db7f5', '100%': '#87d068' }"></nz-progress>
      </div>
    </div>
  </nz-header>

  <nz-content style=" padding-left: 6rem; padding-right: 6rem; height: auto; overflow-x: auto;">
    <nz-tabset class="page-header-tab"  (nzSelectedIndexChange)="handleTabChange($event)">
      <nz-tab nzTitle="Registro" *ngIf="!establishment">
        <div class="container">
          <nz-card nzTitle="{{'general.completa_info'|translate}}">
            <div class="d-flex flex-column justify-content-between h-100">
              <div class="d-none d-md-block"></div>
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-5 m-h-auto">
                  <div class="d-flex align-items-center justify-content-between m-b-30">
                    <img class="img-fluid" alt="" src="assets/images/logo/logo-min.png">
                  </div>
                  <form nz-form [formGroup]="establishmentForm" nzLayout="vertical" class="login-form"
                    (ngSubmit)="submitForm(establishmentForm.value)">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="name">{{'general.nombre'|translate}}</nz-form-label>
                      <nz-form-control [nzErrorTip]="nameErrorTpl">
                        <nz-input-group [nzPrefix]="prefixUser">
                          <input type="text" nz-input formControlName="name" [placeholder]="'general.nombre'|translate">
                        </nz-input-group>
                        <ng-template #nameErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">{{"validaciones.nombre_requerido" |
                            translate}}</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="email">{{'general.correo'|translate}}</nz-form-label>
                      <nz-form-control [nzErrorTip]="nameErrorTpl">
                        <nz-input-group [nzPrefix]="prefixEmail">
                          <input type="email" nz-input formControlName="email"
                            [placeholder]="'general.correo'|translate">
                        </nz-input-group>
                        <ng-template #nameErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">{{"validaciones.correo_requerido" |
                            translate}}</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired>{{"general.tipo" | translate}}</nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="establishmentTypeErrorTpl">
                        <nz-select nzAllowClear formControlName="establishmentType" name="establishmentType" id="establishmentType" [nzPlaceHolder]="'general.escoge'|translate">
                          <nz-option *ngFor="let option of establishmentTypes" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
                        </nz-select>
                        <ng-template #establishmentTypeErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">{{"validaciones.tipo_requerido" | translate}}</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="company">{{'general.empresa'|translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-input-group [nzPrefix]="prefixCompany">
                          <input type="text" nz-input formControlName="company"
                            [placeholder]="'general.empresa'|translate">
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control>
                        <div class="d-flex align-items-center justify-content-center">
                          <button nz-button class="login-form-button" [nzType]="'primary'"
                            [disabled]="!establishmentForm.valid">Empezar</button>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                  <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                  <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
                  <ng-template #prefixCompany><i nz-icon nzType="home"></i></ng-template>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-tab>

      <div *ngIf="establishment">
        <nz-tab *ngFor=" let component of components" nzTitle="{{component.resultable.name}}">
          <div nz-row>
            <div nz-col nzFlex="160px">
              <nz-steps nzDirection="vertical" [nzCurrent]="index">
                <nz-step *ngFor="let subTopic of subTopicsSteps; let i=index" (click)="selectStep(subTopic.resultable.id, i)"
                  style="cursor: pointer" nzTitle="{{subTopic.resultable.name}}"
                  nzDescription="{{subTopic.resultable.description}}"></nz-step>
              </nz-steps>
            </div>
            <div nz-col nzFlex="auto" *ngIf="subTopic">
              <div class="container">
                <div class="row">
                  <nz-card [nzTitle]="subTopicName" class="col-md-12 mx-auto">
                    <nz-list [nzDataSource]="questionsSteps" [nzRenderItem]="subTopicTemplate"
                      [nzItemLayout]="'horizontal'" style="text-align:start">
                      <ng-template #subTopicTemplate let-question>
                        <nz-list-item>
                          <nz-list-item-meta [nzTitle]="networkName" [nzAvatar]="networkIcon">
                            <ng-template #networkName>
                              <div class="font-size-15 font-weight-semibold">
                                <nz-tag [nzColor]="'gold'"> {{question.resultable.code}}</nz-tag>{{question.resultable.name}}
                              </div>
                            </ng-template>
                          </nz-list-item-meta>
                        </nz-list-item>
                        <div *ngIf="question.resultable.type=='si_no'">
                          <nz-radio-group nzButtonStyle="solid" [nzDefaultValue]="'si'">
                            <label nz-radio-button nzValue="si" (click)="onChange(question.id,'si',$event,'si_no')">Si</label>
                            <label nz-radio-button nzValue="no" (click)="onChange(question.id,'si',$event,'si_no')">No</label>
                          </nz-radio-group>
                        </div>
                        <div *ngIf="question.resultable.type=='rango_1_5'">
                          <nz-radio-group>
                            <label nz-radio nzValue="1" >1</label>
                            <label nz-radio nzValue="2">2</label>
                            <label nz-radio nzValue="3">3</label>
                            <label nz-radio nzValue="4">4</label>
                            <label nz-radio nzValue="5">5</label>
                          </nz-radio-group>
                        </div>
                        <div *ngIf="question.resultable.type=='relacionada'">
                          <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="onChange(question.id ,'',$event,'relacionada')">
                            <div nz-row>
                              <div nz-col nzSpan="12" *ngFor="let child of question.resultable.children">
                                <div *ngIf="child.results[0].score==1">
                                  <label nz-checkbox nzChecked nzValue="{{child.results[0].resultable.name}}">{{child.results[0].resultable.name}}
                                  </label>
                                </div>

                                <div *ngIf="child.results[0].score!=1">
                                  <label nz-checkbox nzValue="{{child.results[0].resultable.name}}">{{child.results[0].resultable.name}}
                                  </label>
                                </div>
                                <!-- <div *ngIf="child.results[0].score!==1">
                                  <label nz-checkbox nzChecked nzValue="{{child.results[0].resultable.id}}">{{child.results[0].resultable.name}}
                                  </label>
                                </div> -->
                              </div>
                            </div>
                          </nz-checkbox-wrapper>
                        </div>
                      </ng-template>
                    </nz-list>
                    <ng-template #subTopicName>
                      <div class="text-center">
                        <h2>
                          <nz-tag [nzColor]="'lime'" style="font-size: 20px">{{subTopic.resultable.name}}</nz-tag>
                        </h2>
                      </div>
                    </ng-template>
                  </nz-card>
                </div>
              </div>
            </div>

            <div nz-col nzFlex="160px">
              <button nz-button nzType="default" nzDanger class="mb-2" (click)="resetForm()">Volver a empezar:</button>
              <nz-button-group>
                <button nz-button nzType="primary"><i nz-icon nzType="left"></i> Go back</button>
                <button nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
              </nz-button-group>
              <nz-tag [nzColor]="'blue'" class="mt-2"># Intentos: {{establishment.attempts}}</nz-tag>

            </div>
          </div>
        </nz-tab>
      </div>

      <nz-tab nzTitle="Evaluación" *ngIf="establishment">
        <div class="container" style="width: 100%;">
          <div class="row">
            <div class="col-md-12 mx-auto w-100">
              <nz-card nzTitle="Evaluación">
                <div nz-row>
                  <div nz-col nzFlex="2">
                    <div id="chartForm" #contentPlaceholder   style="height: 400px"></div>
                  </div>
                  <div nz-col nzFlex="3">
                    <div id="chartComponentsForm" #contentPlaceholder   style="height: 400px"></div>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzFlex="2">
                    <div id="chartSubTopicsForm" #contentPlaceholder   style="height: 400px"></div>
                  </div>
                  <div nz-col nzFlex="1">
                    <nz-tag [nzColor]="'blue'">Calificaciones por pregunta</nz-tag>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona el Sub Tema" (ngModel)="3">
                      <nz-option nzLabel="Sub Tema 1" nzValue="1"></nz-option>
                      <nz-option nzLabel="Sub Tema 2" nzValue="2"></nz-option>
                      <nz-option nzLabel="Sub Tema 3" nzValue="3"></nz-option>
                    </nz-select>
                    <nz-table #basicTable [nzData]="listOfData">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Calificación</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of basicTable.data">
                          <td>{{ data.name }}</td>
                          <td>{{ data.code }}</td>
                          <td>
                            <a>Action 一 {{ data.name }}</a>
                            <nz-divider nzType="vertical"></nz-divider>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
      </nz-tab>

    </nz-tabset>

  </nz-content>
  <nz-footer>
    <footer class="footer">
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img class="img-fluid" alt="" src="assets/images/logo/logo-min.png">
              </h6>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contacto
              </h6>
              <p>
                <i class="fas fa-envelope me-3"></i>
                <a href="https://www.cgesplan.com.ec/" class="mr-4 text-reset">
                  CGESPLAN
                </a>
              </p>
              <p><i class="fas fa-phone me-3"></i> +593 99 821 7498</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <section class="d-flex justify-content-center justify-content-lg-between p-4">
        <div class="container text-center text-md-start">
          <a href="https://www.facebook.com/MinisterioTurismoEcuador" class="mr-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/TurismoEc" class="mr-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.turismo.gob.ec/" class="mr-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="https://www.instagram.com/ministerioturismoec/" class="mr-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <div class="footer-content justify-content-between">
        <p class="m-b-0">Copyright © 2023 All rights reserved.</p>
        <span>
          <a href="https://laverix.com.ec/" class="text-gray m-r-15">Developed by: Laverix
          </a>
          <a href="https://www.linkedin.com/in/ricardo-urvina-142222182/" class="text-gray">&amp; R.U</a>
        </span>
      </div>
    </footer>
  </nz-footer>
</nz-layout>
