<nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzFlex="1">
        <img class="img-fluid" alt="logo_min_tur" src="assets/images/logo/logo-min.png">
      </div>
      <div nz-col nzFlex="4">
        <h1 class="w-90 m-h-auto" *ngIf="form" style="font-size: 20px">
          {{form.name}}
        </h1>
        <p *ngIf="form" class="w-90 m-h-auto m-b-30">
          {{form.description}}
        </p>
      </div>
      <div nz-col nzFlex="1">
        <nz-progress nzType="circle" [nzPercent]="90"
          [nzStrokeColor]="{ '0%': '#108ee9', '50%': '#2db7f5', '100%': '#87d068' }"></nz-progress>
      </div>
    </div>
  </nz-header>

  <nz-content style=" padding-left: 6rem; padding-right: 6rem; height: auto; overflow-x: auto;">
    <nz-tabset class="page-header-tab" *ngIf="form" (nzSelectedIndexChange)="handleTabChange($event)">
      <nz-tab nzTitle="{{'general.antes_de_empezar'|translate}}" *ngIf="!establishment">
        <div class="container">
          <nz-card nzTitle="{{'general.completa_info'|translate}}">
            <div class="d-flex flex-column justify-content-between h-100">
              <div class="d-none d-md-block"></div>
              <div class="row align-items-center">
                <div class="col-md-7 col-lg-5 m-h-auto">
                  <div class="d-flex align-items-center justify-content-between m-b-30">
                    <img class="img-fluid" alt="" src="assets/images/logo/logo-min.png">
                  </div>
                  <form nz-form [formGroup]="establishmentForm" nzLayout="vertical" class="login-form"
                    (ngSubmit)="submitForm(establishmentForm.value)">
                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="name">{{'general.nombre'|translate}}</nz-form-label>
                      <nz-form-control [nzErrorTip]="nameErrorTpl">
                        <nz-input-group [nzPrefix]="prefixUser">
                          <input type="text" nz-input formControlName="name" [placeholder]="'general.nombre'|translate">
                        </nz-input-group>
                        <ng-template #nameErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">{{"validaciones.nombre_requerido" |
                            translate}}</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label nzRequired nzFor="email">{{'general.correo'|translate}}</nz-form-label>
                      <nz-form-control [nzErrorTip]="nameErrorTpl">
                        <nz-input-group [nzPrefix]="prefixEmail">
                          <input type="email" nz-input formControlName="email"
                            [placeholder]="'general.correo'|translate">
                        </nz-input-group>
                        <ng-template #nameErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">{{"validaciones.correo_requerido" |
                            translate}}</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label nzFor="company">{{'general.empresa'|translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-input-group [nzPrefix]="prefixCompany">
                          <input type="text" nz-input formControlName="company"
                            [placeholder]="'general.empresa'|translate">
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control>
                        <div class="d-flex align-items-center justify-content-center">
                          <button nz-button class="login-form-button" [nzType]="'primary'"
                            [disabled]="!establishmentForm.valid">Empezar</button>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                  <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                  <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
                  <ng-template #prefixCompany><i nz-icon nzType="home"></i></ng-template>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-tab>

      <div *ngIf="establishment">
        <nz-tab *ngFor=" let component of form.components" nzTitle="{{component.name}}">
          <div nz-row>
            <div nz-col nzFlex="160px">
              <nz-steps nzDirection="vertical" [nzCurrent]="index">
                <nz-step *ngFor="let subTopic of component.sub_topics" (click)="selectStep(subTopic.id)"
                  style="cursor: pointer" nzTitle="{{subTopic.name}}" nzDescription="{{subTopic.description}}"></nz-step>
              </nz-steps>
            </div>
            <div nz-col nzFlex="auto" *ngIf="subTopic">
              <div class="container">
                <div class="row">
                    <nz-card [nzTitle]="subTopicName" class="col-md-12 mx-auto">
                      <nz-list [nzDataSource]="subTopic.questions" [nzRenderItem]="network"
                        [nzItemLayout]="'horizontal'">
                        <ng-template #network let-question>
                          <nz-list-item>
                            <nz-list-item-meta [nzTitle]="networkName" [nzAvatar]="networkIcon">
                              <ng-template #networkName>
                                <div class="font-size-15 font-weight-semibold m-t-2">
                                  <nz-tag [nzColor]="'gold'"> {{question.code}}</nz-tag>-{{question.name}}
                                </div>
                              </ng-template>
                            </nz-list-item-meta>
                          </nz-list-item>
                          <div *ngIf="question.type=='si_no'">
                            <nz-radio-group nzButtonStyle="solid">
                              <label nz-radio-button nzValue="si">Si</label>
                              <label nz-radio-button nzValue="no">No</label>
                            </nz-radio-group>
                          </div>
                          <div *ngIf="question.type=='rango_1_5'">
                            <nz-rate [ngModel]="0" [nzCharacter]="characterNumber"></nz-rate>
                            <ng-template #characterNumber let-index>
                              {{ index + 1 }}
                            </ng-template>
                            <ng-template #characterIcon let-index>
                              <ng-container [ngSwitch]="index">
                                <span nz-icon nzType="frown" *ngSwitchCase="1"></span>
                                <span nz-icon nzType="frown" *ngSwitchCase="2"></span>
                                <span nz-icon nzType="meh" *ngSwitchCase="3"></span>
                                <span nz-icon nzType="smile" *ngSwitchCase="4"></span>
                                <span nz-icon nzType="smile" *ngSwitchCase="5"></span>
                              </ng-container>
                            </ng-template>
                          </div>
                          <div *ngIf="question.type=='relacionada'">
                            <nz-checkbox-wrapper style="width: 100%;">
                              <div nz-row>
                                <div nz-col nzSpan="12" *ngFor="let child of question.children">
                                  <label nz-checkbox nzValue="{{child.id}}">{{child.name}}
                                  </label>
                                </div>
                              </div>
                            </nz-checkbox-wrapper>
                          </div>
                        </ng-template>
                      </nz-list>
                      <ng-template #subTopicName>
                        <div class="text-center">
                          <h2>
                            <nz-tag [nzColor]="'lime'" style="font-size: 20px">{{subTopic.name}}</nz-tag>
                          </h2>
                        </div>
                      </ng-template>
                    </nz-card>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </div>

      <nz-tab nzTitle="{{'general.resumen'|translate}}">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <nz-card nzTitle="Notification Config">
                <nz-list [nzDataSource]="notificationConfigList" [nzRenderItem]="'general.resumen'"
                  [nzItemLayout]="'horizontal'">
                  <ng-template #resumen let-item>
                    <nz-list-item [nzActions]="[configStatus]">
                      <ng-template #configStatus>
                        <nz-switch [ngModel]="item.status" [nzCheckedChildren]="checkedTemplate2nd"
                          [nzUnCheckedChildren]="unCheckedTemplate2nd"></nz-switch>
                        <ng-template #checkedTemplate2nd><i class="font-size-12" nz-icon
                            nzType="check"></i></ng-template>
                        <ng-template #unCheckedTemplate2nd><i class="font-size-12" nz-icon
                            nzType="close"></i></ng-template>
                      </ng-template>
                      <nz-list-item-meta [nzTitle]="notificationTitle" [nzAvatar]="notificationIcon">
                        <ng-template #notificationIcon>
                          <nz-avatar [nzIcon]="item.icon" [ngClass]="item.color" class="m-t-5"></nz-avatar>
                        </ng-template>
                        <ng-template #notificationTitle>
                          <h5 class="font-weight-semibold m-b-0">{{item.title}}</h5>
                          <p class="m-b-0 font-weight-normal">{{item.desc}}</p>
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
              </nz-card>
            </div>
          </div>
        </div>
      </nz-tab>

    </nz-tabset>

  </nz-content>
  <nz-footer>

    <footer class="footer">

      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img class="img-fluid" alt="" src="assets/images/logo/logo-min.png">
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->

              <p>
                <img class="img-fluid" alt="" src="assets/images/logo/cge_logo.jpg">
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->

              <p>
                <img class="img-fluid" alt="logo_laverix" width="100" height="100"
                  src="assets/images/logo/logo_laverix.png">
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4">
        <div class="container text-center text-md-start">
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="mr-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Copyright -->

      <div class="footer-content justify-content-between">
        <p class="m-b-0">Copyright © 2023 Theme_Nate. All rights reserved.</p>
        <span>
          <a href="https://laverix.com.ec/" class="text-gray m-r-15">Developed by: &amp; Laverix
          </a>
          <a href="" class="text-gray">Privacy &amp; Policy</a>
        </span>
      </div>
    </footer>
  </nz-footer>
</nz-layout>
