<section>

  <div class="d-flex justify-content-between">
    <h4>List form</h4>
    <a routerLink="/form/create" class="btn btn-success">Create New form</a>
  </div>

  <br>

  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let form of forms">
      <td>{{ form.id }}</td>
      <td>{{ form.name }}</td>
      <td>{{ form.code }}</td>

      <td>
        <a href="#" [routerLink]="['/form/', 'edit', form.id  ]" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteForm(form.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</section>
