<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.codigo" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzValidatingTip]="'validaciones.validando' | translate"
      [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="code" id="code" [placeholder]="'general.codigo' | translate" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.codigo_requerido" |
          translate}}</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">{{"validaciones.codigo_existente" |
          translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.nombre" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" [placeholder]="'general.nombre' | translate" />
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.nombre_requerido" |
          translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.tipo" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="typeErrorTpl">
      <nz-select nzAllowClear formControlName="type" name="type" id="type" [nzPlaceHolder]="'general.escoge'|translate">
        <nz-option *ngFor="let option of optionList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
      <ng-template #typeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.tipo_requerido" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.dependiente" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="dependentErrorTpl">
      <nz-select nzAllowClear formControlName="dependentQ" name="dependentQ" id="dependentQ" [nzPlaceHolder]="'general.dependiente'|translate">
        <nz-option nzValue="si" nzLabel="Si"></nz-option>
        <nz-option nzValue="no" nzLabel="No"></nz-option>
      </nz-select>
      <ng-template #dependentErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.tipo_requerido" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="validateForm.value.dependentQ=='si'">
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.escoge" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="typeErrorTpl">
      <nz-select nzAllowClear formControlName="dependent" name="dependent" id="dependent" [nzPlaceHolder]="'general.escoge'|translate">
        <nz-option *ngFor="let question of questions" [nzValue]="question.id" [nzLabel]="question.name"></nz-option>
      </nz-select>
      <ng-template #typeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.tipo_requerido" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item *ngIf="validateForm.value.type=='relacionada'">
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.tipo_preguntas_hijas" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="childrenTypeErrorTpl">
      <nz-select nzAllowClear formControlName="children_type" name="children_type" id="children_type"
        [nzPlaceHolder]="'general.escoge'|translate">
        <nz-option *ngFor="let option of optionList2" [nzValue]="option.value"
        nzLabel="{{option.code}}-{{option.name}}"></nz-option>
      </nz-select>
      <ng-template #childrenTypeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.tipo_requerido" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.descripcion" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <textarea nz-input [placeholder]="'general.descripcion'|translate" formControlName="description"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="validateForm.value.type=='relacionada'">
    <nz-divider [nzText]="'general.crear_preguntas_relacionadas'|translate"></nz-divider>
    <form nz-form [formGroup]="validateFormRelated" class="ant-advanced-search-form"
      (ngSubmit)="submitFormRelated(validateFormRelated.value)">
      <div nz-row>
        <div nz-col>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>{{"general.nombre" | translate}}</nz-form-label>
            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nameErrorTpl">
              <input nz-input formControlName="name" [placeholder]="'general.nombre' | translate" />
              <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{"validaciones.nombre_requerido" |
                  translate}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="validateForm.value.children_type==='multiple' ||  validateForm.value.children_type==='una_opcion'">
            <nz-form-label [nzSpan]="7">{{"general.valor" | translate}}</nz-form-label>
            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="valueErrorTpl">
              <input nz-input type="number" formControlName="value" [placeholder]="'general.valor' | translate" />
              <ng-template #valueErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{"validaciones.valor_requerido" |
                  translate}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col class="search-area">
          <button nz-button [nzType]="'primary'" [disabled]="!validateFormRelated.valid">+</button>
          <button nz-button (click)="resetFormRelated()">{{"general.limpiar" | translate}}</button>
        </div>
      </div>
    </form>
  </nz-form-item>

  <div *ngIf="questionsRelated.length>0">
    <nz-divider [nzText]="'general.preguntas_relacionadas'|translate"></nz-divider>
    <nz-table #basicTable [nzData]="questionsRelated">
      <thead>
        <tr>
          <th>Name</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of questionsRelated">
          <td>{{ data.name }}</td>
          <td>{{ data.value }}</td>
          <td>
            <a (click)="deleteItemQuestionsRelated(data.name)"> <span nz-icon nzType="delete" nzTheme="outline"></span></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{"general.guardar" | translate}}</button>
      <button nz-button (click)="resetFormRelated()">{{"general.resetear" | translate}}</button>
    </nz-form-control>
  </nz-form-item>
</form>
