<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.codigo" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzValidatingTip]="'validaciones.validando' | translate" [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="code"  id="code" [placeholder]="'general.codigo' | translate" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.codigo_requerido" | translate}}</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">{{"validaciones.codigo_existente" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{"general.nombre" | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" [placeholder]="'general.nombre' | translate" />
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{"validaciones.nombre_requerido" | translate}}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{"general.guardar" | translate}}</button>
      <button nz-button (click)="resetForm($event)">{{"general.resetear" | translate}}</button>
    </nz-form-control>
  </nz-form-item>
</form>
