p {
  margin: 0;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.ant-tag {
  margin-bottom: 8px;
}

nz-badge {
  margin-right: 20px;
}

nz-tag{
  text-overflow: clip;
   text-overflow: ellipsis ellipsis;
   white-space: nowrap; width:auto;
   max-width: 100%;
  overflow: hidden;
}
